{% load static %}

<!-- Discussion Section -->
<div>
    <!-- discussion header -->
    <div class="px-4 py-3 border-b border-gray-200 sm:px-6">
        <h3
                class="
                        text-xl
                        leading-6
                        font-medium
                        text-left text-gray-900
                      "
        >
                      <span class="inline-flex">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-400"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                          <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"></path>
                        </svg>
                        <span class="px-3">Discussion</span>
                      </span>
        </h3>
        <p class="text-sm text-gray-500">{{ post.vote_total }} comment{{ post.vote_total|pluralize:"s" }}</p>
    </div>

    <!-- Comment input form -->
    {% if request.user.profile.id in post.reviewrs %}
        <p>You have already submitted your review for this project</p>

    {% elif request.user.profile == post.author %}
        <p>You cannot comment your own work</p>

    {% elif request.user.is_authenticated %}



        <form action="{% url 'single-post' post.slug %}" method="post" class="mt-8">
            {% csrf_token %}
            {% for field in form %}

                <h5 class="text-base mb-1">{{ field.label }}</h5>
                {{ field }}
            {% endfor %}

            <div class="mt-2">
                <button
                        type="submit"
                        class="
                          text-white
                          py-1
                          px-3
                          rounded-md
                          uppercase
                          text-sm
                          bg-rose-500
                          border border-rose-500
                          hover:text-rose-500 hover:bg-transparent
                          transition
                        "
                        value="Add Review"
                >
                    <span class="sr-only">Submit your Comment</span>
                    Submit
                </button>
            </div>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Please login to leave a review</a>
    {% endif %}

    <!-- discussion section card -->
    <div class="space-y-5 py-2">

        {% for review in post.review_set.all %}
            {% if review.body %}
                <!-- Comment block -->
                <div class="flex item-start border0b pb-5 border-gray-200">

                    <!-- comment author image -->
                    <div class="w-12 h-12 flex-shrink-0">
                        <img
                                src="{{ review.owner.profile_image.url }}"
                                alt="{{ review.owner.name }}"
                                class="w-full rounded-full"
                        />
                    </div>
                    <!-- Comment author name and datetime -->
                    <div class="flex-grow pl-4">
                        <h4 class="text-base font-roboto">{{ review.owner.name }}</h4>
                        <p class="text-xs text-gray-400">
                            {{ review.created }}
                        </p>
                        <!-- Comment content text -->
                        <p class="text-sm font-600 mt-2">
                            {{ review.body|linebreaksbr }}
                        </p>

                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>


</div>