{% load static %}

{# author follow and posts from same author #}

<aside class="xl:block xl:col-span-4">
    <div class="sticky top-4 space-y-4">
        <!-- author section -->
        <section aria-labelledby="who-to-follow-heading">
            <div class="bg-white rounded-lg shadow">
                <div class="p-5">
                    <!-- author card section -->
                    <div class="rounded-lg overflow-hidden my-2">
                        <!-- author image -->
                        <img
                                class="object-cover w-full h-56 object-cover object-center"
                                src="{{ post.author.profile_image.url }}"
                                alt="{{ post.author }}"
                        />
                        <!-- author status -->
                        <div class="flex items-center px-6 py-3 bg-gray-900">
                            <svg
                                    class="h-6 w-6 text-white fill-current"
                                    viewBox="0 0 512 512"
                            >
                                <path
                                        d="M256 48C150 48 64 136.2 64 245.1v153.3c0 36.3 28.6 65.7 64 65.7h64V288h-85.3v-42.9c0-84.7 66.8-153.3 149.3-153.3s149.3 68.5 149.3 153.3V288H320v176h64c35.4 0 64-29.3 64-65.7V245.1C448 136.2 362 48 256 48z"></path>
                            </svg>
                            <h1 class="mx-3 text-white font-semibold text-lg">
                                Focusing
                            </h1>
                        </div>
                        <!-- author name and bio -->
                        <div class="py-4">
                            <h1 class="text-2xl font-semibold text-gray-800">
                                {{ post.author.name|title }}
                            </h1>
                            <p class="py-2 text-lg text-gray-700">
                                {{ post.author.profile_tagline }}
                            </p>
                            <!-- Author follow button -->
                            <div class="flex py-2 px-1">
                                <button
                                        class="
                              w-full
                              block
                              text-center
                              px-2.5
                              py-1.5
                              border border-transparent
                              text-lg
                              font-bold
                              rounded
                              shadow-sm
                              bg-gradient-to-r
                              from-pink-500
                              via-red-500
                              to-yellow-500
                              text-gray-900
                              hover:bg-rosy-600 hover:text-gray-900
                              focus:outline-none
                              focus:ring-2
                              focus:ring-offset-2
                              focus:ring-rose-500
                            "
                                >
                                    <span class="sr-only">Follow the author</span>
                                    Follow
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- More from the author section -->
        <section aria-labelledby="more-post-from-author">
            <div class="bg-white rounded-lg shadow">
                <div class="p-6">
                    <h2
                            id="more-post-from-author"
                            class="
                        text-xl
                        font-medium
                        text-gray-900
                        border-b border-gray-200
                        p-1
                      "
                    >
                        More from the author
                    </h2>
                    <div class="mt-6 flow-root">
                        <!-- articles -->
                        <ul class="-my-4 divide-y divide-gray-200">
                            {% for article in post.article_set.all %}
                                <li class="flex py-4 space-x-3">
                                    <div class="min-w-0 flex-1">
                                        <a href="{{ post.get_absolute_url }}" class="text-sm text-gray-800">
                                            {{ post.title }}
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mt-6">
                        <a
                                href="#"
                                class="
                          w-full
                          block
                          text-center
                          px-4
                          py-2
                          border border-gray-300
                          shadow-sm
                          text-sm
                          font-medium
                          rounded-md
                          text-gray-700
                          bg-white
                          hover:bg-gray-50
                        "
                        >
                            View all
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</aside>