[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
django-autoslug = "*"
django-debug-toolbar = "*"
django-taggit = "*"

[dev-packages]

[requires]
python_version = "3.9"
