<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Write Up is an open platform where readers find mesmerizing thought, and where
    expert and undiscovered voices can share their writing on any topic.">
    <meta name="robots" content="index,follow,max-snippet:20,max-image-preview:standard"/>
    {#    favicon #}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}"/>
    {# Custom Style #}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}"/>
    <title>Write up {% block title %}{% endblock title %}</title>
</head>
<body>
<div class="font-mono overflow-y-auto">

    {% include 'navbar.html' %}
    {% include 'notification.html' %}

    <div class="py-10">
        <div
                class="
            max-w-3xl
            mx-auto
            sm:px-6
            lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8
          "
        >


            {% block content %}

            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}

</div>

<script src="{% static 'js/alpine.js' %}"></script>
<script src="{% static 'js/components-v2.js' %}"></script>
</body>
</html>